<%- partial('_partial/head') %>
<body id="body">
  <div class="container" id="container">
    <div class="content">
      <%- partial('./_partial/header') %>
      <%- body %>
    </div>
  </div>
</body>
<%- partial('_partial/footer') %>
</html>