@font-face {
    font-family: "FZQKBYSJW";
    src: url("../fonts/FZQKBYSJW/FZQKBYSJW.eot"); /* IE9 */
    src: url("../fonts/FZQKBYSJW/FZQKBYSJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/FZQKBYSJW.woff") format("woff"), /* chrome, firefox */

    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/FZQKBYSJW/FZQKBYSJW.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

//color
$color-deep-blue: #425066;
$color-light-blue: #e8e5f9;
$color-pure-black: #000c0f;
$color-light-black: #4c4c47;
$color-light-grey: #ccc;
$color-lighter-grey: #ddd;
$color-deep-grey: #51534a;
$color-dim-white: #fafbfd;
$color-light-gold: #e6c7a1;
$color-deep-gold:#ccbdab;

$root-font-size: 62.5%;
$body-font-size: 1.4rem;

$body-back-color: $color-light-grey;

$content-back-color: $color-dim-white;
$content-max-with: 56rem;
$content-min-with: 32rem;
$content-min-height: 52rem;

//avatar
$avatar-width: 8rem;
$avatar-height: 8rem;

//menu
$menu-font-size: 1.6rem;
$menu-font-color: $color-deep-blue;
$menu-circle-color: $color-pure-black;
$menu-circle-size: 1.2rm;

//social
$social-back-color: $color-pure-black;

//title
$title-font-color:  $color-pure-black;
$title-font-size: 3.2rem;
$subtitle-font-color: $color-light-grey;
$subtitle-font-size: 1.2rem;

$author-font-color: $color-deep-blue;
$author-font-size:1.6rem;
$desc-font-color: $color-light-grey;
$desc-font-size: 1.4rem;

//article
$article-title-font-color: $color-pure-black;
$article-title-font-size: 2.4rem;
$article-title-font-hover-color: $color-light-gold;
$article-content-font-size: 1.6rem;
$archive-content-color: $color-deep-grey;
$article-time-font-color: $color-light-grey;
$article-time-line-color: $color-lighter-grey;
$article-time-font-size: 1.4rem;
$btn-post-more-font-color:$color-pure-black;
$btn-post-more-font-hover-color:$color-light-gold;
$article-tag-font-color: $color-deep-grey; 
$article-nav-caption-font-color: $color-light-black;
$article-nav-title-font-color: $color-light-gold;

//archive
$archive-border-left-color: $color-light-grey;
$archive-title-color: $color-deep-blue;
$archive-title-hover-border-color: $color-deep-blue;

//post
$post-title-color: $color-pure-black;
$post-title-size: 2.8rem;
$post-data-color: $color-light-grey;
$post-data-size: 1.4rem;
$post-entry-color: $color-deep-blue;
$post-entry-img-border-color: $color-lighter-grey;

//footer
$footer-font-color: $color-deep-grey; 

//highlight
$code-font-size: 1.4rem;
$code-font-color: $color-light-black;
$code-back-color: $color-light-blue;
$blockquote-font-color: $color-deep-blue;
$blockquote-border-color: $color-lighter-grey;
