main.archive{
	margin-top: 81px;
	border-left: 1px solid #cacaca;
}

article.grid {
	clear: both;
	padding-top: 12px;
}

.archive-title a{
	clear: both;
	padding: 4px 12px ;
    font-size: 18px;
    color: #425066;
}

.archive-title a:hover {
        padding-left: 23px;
        border-left:4px solid#425066;
        transition: 0.2s ease-out;
 }
