#nav {

}
.avatar {
	width: 90px;
    height: 90px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #425066;
}

.menu {
	float: right;
	margin-top: 10px;
	margin-left: 18px;
    text-transform: capitalize;
    font-size: 16px;
}

.menu a{
	padding:10px 6px 10px 6px;
	letter-spacing: 4px;
	color: #425066;
    text-decoration: none;
    -webkit-writing-mode:vertical-rl;
    border-left-style:outset;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:none;
	border-left-width: thin;
}

.menu a:hover {
	font-weight: bold;
}

.menu a i{
	margin-bottom: 10px;
	color: #000000;
	font-size: 12px;
}

.social-list {
	clear: both;
	list-style: outside none none;
}

.social-list li {
	float: left;
	margin-top: 12px;
	margin-right: 18px;
}

.social-list li a{
	 border-radius: 28px;
	 color: #fff;
	 background-color: #000c0f;
     display: block;
     text-align: center;
     text-decoration: none;
     width: 28px;
     height: 28px;
}

.social-list li a:hover{
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     color: #fff;
}

.social-list li a i {
	font-size: 18px;
    font-style: normal;
    line-height: 30px;
    margin: 0;
}

.description {
	clear: both;
	margin-top: 58px;
	text-decoration: none;
}

.title {
	color: #030000;
	font-size: 32px;
}

.subtitle{

}

.description p {
	color: #51534a;
	font-size: 14px;
	margin-top: 10px;
}

