main.index {
	margin-top: 50px;
	list-style: outside none none;
	border-left-style:outset;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:none;
}
.article-title{
	clear: both;
	margin-top: 28px;
	margin-left: 12px;

}
.article-title a{
	color: #425066;
	font-size:23px;
	text-decoration:none;
}

.article-title a:hover {
	color: #e6c7a1;
}

.article-data {
	position: relative;
	margin-top: -20px;
	float: right;
}

.article-data time{
	font-size: 14px;
	color: #999999;
}

.page-nav {
	text-align: center;
	margin-top: 30px;
}
