<footer class="footer">
    <div>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br><br>
      Theme <a href="https://github.com/kinzee/hexo-theme-april.git" target="_blank">april</a>, Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>