.pagination {
  margin: 14rem 0 8rem;
  text-align: center;
  border-top: 1px solid #eee;
}

.pagination .prev, .next, .page-number{
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 1rem;
    padding: 0 1rem;
    line-height: 3rem;

    border-bottom: 0;
    border-top: 1px solid #eee;
    transition-property: border-color;
    color: $color-light-black;
  }

  .space {
    padding: 0;
    margin: 0;
  }

  .prev {
  	margin-left: 0;
  }

  .next {
  	margin-right: 0;
  }

  .page-number.current {
    color: #fff;
    background: #ccc;
    border-top-color: #ccc;
  }
