main.archive{
	margin-top: 4.4rem;
	list-style: outside none none;
	border-left-style:outset;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:none;
}

article.grid {
	clear: both;
	padding-top: 1.4rem;
}

.archive-title a{
	clear: both;
	padding: 0.4rem 1.2rem ;
    font-size: 18px;
    color: $archive-title-color;

    &:hover {
        padding-left: 2.3rem;
        border-left:4px solid$archive-title-hover-border-color;
        transition: 0.2s ease-out;
    }
}

.archive-data {
	position: relative;
	margin-top: -2.0rem;
	float: right;
	time{
		font-size: 1.4rem;
		color: $article-time-font-color;
	}
}



