.post {
	margin-top: 6.8rem;
}

.post-title {
	text-align: center;
}

.post-title a {
	font-size:$post-title-size;
	font-weight:normal;
	color:$post-title-color;
	text-decoration:none;
}

.post-date {
	text-align: right;
	font-size: $post-data-size;
	color:$post-data-color;
}

.post-entry {
	margin-top: 5.6rem;
	font-size: 1.4rem;
	line-height:200%;
	color:$post-entry-color;

    ul{
	    padding: 4.0rem;
        li {
	        list-style: circle;
        }
    }

    img {
        box-sizing: border-box;
        margin: 0.4rem 0 ;
        padding: 3px;
        max-width: 100%;
        height: auto;
        border: 1px solid $post-entry-img-border-color;
    }

    h1 {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

    }

    h2 {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    h3 {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: $post-entry-color;
        &:hover {
            text-decoration: underline;
            }
    }
}

#article-tags {
    margin-top: 5rem;
	width: 100%;
    height:4.4rem;
	//border-bottom: 1px dashed $article-time-line-color;
}

.article-tag-list{
    padding-bottom: 4rem;
}

.article-tag-list-item {
    position: relative;
    float: left;
    margin-right: 10px;
}

.article-tag-list-link {
    font-weight: bold;
    color:$article-tag-font-color;
    &:before{
        content: "#";
    }

}

#article-nav{
    margin-top: 4rem;
    height: 12rem;
}

.article-nav-caption{
    position: relative;
	margin-top: 2.4rem;
    font-style: italic;
	color: $article-nav-caption-font-color;

}
.nav-prev{
    width: 45%;
    text-align: left;
    float: left;
}
.nav-next {
    width: 45%;
    text-align: right;
    float: right;
}

.article-nav-title{
    margin-top: 1.2rem;
	font-size: 1.6rem;
	color: $article-nav-title-font-color;
}
