@mixin code-block {
    overflow: auto;
    //margin: 2.0rem 0;
    padding: 1.5rem;
    font-size:$code-font-size;
    color: $code-font-color;
    background: $code-back-color;
    line-height: 1.6;
}

.code-block {
    @include code-block
}

pre, code {
	font-family: "Source Code Pro",consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
}

.highlight {
	 @include code-block;

    table{
        margin: 0;
        width: auto;
        border: none;
    }

    td {
        border: none;
        padding: 0;
    }

    figcaption {
        font-size: 1em;
        color: #4d4d4c;
        line-height: 1em;
        margin-bottom: 1em;

        a {
            float: right;
            color: #4d4d4c;
            &:hover {
	            border-bottom-color:#4d4d4c;
            }
        }
    }

}

figure {
	background: #f7f7f7;
  }

.gutter pre {
    color: #666;
    text-align: right;
    padding-right: 20px;
  }

.line {
  	height: 20px;
  }

.gist table {
  width: auto;
}

.gist table td {
  border: none;
}

blockquote {
    text-align: center;
    padding: 0 1.5rem;
    color: $blockquote-font-color;
    border-left: 4px solid $blockquote-border-color;
}

