main.index {
	margin-top: 8.4rem;
}

.index-article{
	margin-top: 8rem;
}

.article-title{
	clear: both;
}
.article-title a{
	color: $article-title-font-color;
	font-size:$article-title-font-size;
	text-decoration:none;
}

.article-title a:hover {
	color: $article-title-font-hover-color;
}

.article-content {
	margin-top: 2.4rem;
	font-size: $article-content-font-size;
	color: $archive-content-color;
	line-height: 2.4rem;

	blockquote {
		text-align: left;
    	border-left: none;
		padding-left: 0;
		color: $archive-content-color;
	}
}

.article-data {
	position: relative;
	margin-top: 4.4rem;
	text-align: center;
}

.article-data-line {
	position: absolute;
	top: 0;
	height: 1px;
	width: 100%;
	border-bottom: 1px dashed $article-time-line-color;
}

.article-data-time{
	position: absolute;
	top: -$article-time-font-size/2;
	left: 40%;
	width:20%;
	min-width: 14rem;
	background-color:  $color-dim-white;
	text-align: center;
}

.article-data time{
	font-size: $article-time-font-size;
	color: $article-time-font-color;
}

.post-more-link {
	margin-top: 0.4rem;

	.btn-post-more{
		border: 1px solid rgba(66, 80, 102, 0.8);
    	border-radius: 4px;
		padding: 0 10px;
		font-size: 1.2rem;
		color:$btn-post-more-font-color;
		&:hover {
			color: $btn-post-more-font-hover-color;
			border: 1px solid rgba(230, 199, 161, 0.8);
		}
	}
}
