main.index {
	margin-top: 8rem;
	list-style: outside none none;
	border-left-style:outset;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:none;
}
.article-title{
	clear: both;
	margin-top: 2.8rem;
	margin-left: 1.2rem;
}
.article-title a{
	color: $article-title-font-color;
	font-size:$article-title-font-size;
	text-decoration:none;
}

.article-title a:hover {
	color: $article-title-font-hover-color;
}

.article-data {
	position: relative;
	margin-top: -2.0rem;
	float: right;
}

.article-data time{
	font-size: 1.4rem;
	color: $article-time-font-color;
}

.page-nav {
	text-align: center;
	margin-top: 3.0rem;
}
