main.index {
	margin-top: 8rem;
}
.article-title{
	clear: both;
	margin-top: 4.4rem;
}
.article-title a{
	color: $article-title-font-color;
	font-size:$article-title-font-size;
	text-decoration:none;
}

.article-title a:hover {
	color: $article-title-font-hover-color;
}

.article-content {
	margin-top: 2.0rem;
	font-size: $article-content-font-size;
	color: $archive-content-color;
	line-height: 2.4rem;
}

.article-data {
	margin-top: 2.0rem;
	text-align: center;
}

.article-data time{
	font-size: 1.4rem;
	color: $article-time-font-color;
}

.page-nav {
	text-align: center;
	margin-top: 3.0rem;
}
