.tag-title {
    margin-top: 4rem;
}

#tag_cloud {
    margin: 4.4rem 0 1.6rem 0;
}
.tags {
    text-align: center;
}

#tag_cloud a{
    display: inline-block;
    padding: 0 10px;
    color:$btn-post-more-font-color;
    text-decoration: none;
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0.8rem 0.4rem;
    border: 1px solid rgba(66, 80, 102, 0.4);
    border-radius: 4px;
}
